body {
  background-color:rgb(207, 206, 206);
  padding: inherit;
}

.topo {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
  background-color: rgb(255, 255, 255);
}

#logo {
  width: 35%;
  display: inline-flex;
  margin-left: 1%;
}

.box {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-bottom: 20px;
  margin: 65px;
}
.combo-um {
  color: #335fa1;
  font-size: 17px;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color: rgb(229, 234, 235);
}
.combo-dois {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color:  rgb(229, 234, 235);
}
.combo-tres {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color:  rgb(229, 234, 235);
}
.combo-quatro {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 356px;
  background-color:  rgb(229, 234, 235);
}
.combo-cinco {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color:  rgb(229, 234, 235);
}
.combo-seis {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color:  rgb(229, 234, 235);
}
.combo-sete {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color: rgb(229, 234, 235);
}
.combo-oito {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color:  rgb(229, 234, 235);
}
.combo-nove {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color:  rgb(229, 234, 235);
}

.combo-dez {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color:  rgb(229, 234, 235);
}
.combo-onze {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color: rgb(229, 234, 235);
}
.combo-doze {
  color: #335fa1;
  border-radius: 15px;
  width: 315px;
  height: 350px;
  background-color: rgb(229, 234, 235);
}

h1 {
  text-align: center;
}
nav {
  display: inline-block;
  align-items: flex-start;
  margin-top: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30%;
}

.combo_individuais {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  border-bottom: solid 1.5px;
}

.frase {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3%;
  color: #0247af;
}

footer {
  background-color: #355fa1;
  color: whitesmoke;
}

.topo_inicial {
  width: 14%;
  position: absolute;
  left: -15px;
  cursor: pointer;
  margin-top: 250px;
  margin-top: 100px;
}

.gif {
  width: 20%;
  border-radius: 15px;
  margin-left: 40%;
  margin-top: 5px;
}
.info {
  text-align: left;
  margin-left: 20px;
  max-width: 210px;
  float: left;
  margin-top: -14%;
  font-size: 15px;
  color: white;
}
#sigam {
  text-align: right;
  margin-right: 20px;
  max-width: 500px;
  float: right;
  margin-top: -5%;
  color: white;
}
.icone {
  border-radius: 10px;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}
.um {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.dois {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.tres {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.quatro {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 12px;
}
.cinco {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 32px;
}
.seis {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.sete {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.oito {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 32px;
}
.nove {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.dez {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.onze {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
}
.doze {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 8px;
 
}

* {
  margin: 0;
  padding: 0;
}
h3 {
  text-align: center;
  color: #335fa1;
}
p {
  text-align: center;
  color: #335fa1;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin-top: 2px;
}
