body {
    background-color: lightgray;
}


header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    border-color: darkgray;
}
#logo {
    width: 190px;
    height: 100px;
}
#head {
    background-color: lightgray;
    margin: 0%;
}
nav {
    margin-top: 30px;
    margin-right: 50px;
}

ul {
    margin-top: 25px;
    display: inline-flex;
}
ul a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}
ul a:hover {
    color: #3381f3;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div {
    background-color: white;
    border-radius: 10%;
    margin: 5%;
    text-align: center;
}

