header {
    display: flex;
    justify-content: space-around;
}
#logo {
    width: 300px;
}
nav {
    margin: 40px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    width: 500px;
}